:host {
  width 100vw;
  height 100vh;
  display flex;
  justify-content center;
  align-items center;
}

#lottie {
  background-color:#fff;
  width: 15vw;
  height: 15vh;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
  display flex;
  justify-content center;
  align-items center;
}
