<div class="category-parent" [ngClass]="defineCssState()">
  <div
    class="cards-wrap"
    *ngFor="let articlesArr of renderArticlesArrs; let arrIndex = index"
    [ngClass]="defineArticlesParentStyle(arrIndex)"
  >
    <app-articles-card
      *ngFor="let article of articlesArr; let index = index"
      [big]="getPatternData(index)"
      [article]="article"
      [@fadeInOut]
    ></app-articles-card>
  </div>
  <div
    class="show-more-btn"
    *ngIf="showArticlesIndex < renderArticlesArrs.length - 1"
    (click)="showArticlesIndex = showArticlesIndex + 1"
  >
    Показать больше материалов
  </div>
</div>
