@import ('../../../../libs/css/params.styl');

:host {
  padding: 2.5vw 2vw 0;
  display: block;
  font-family: Roboto;

  .header {
    font-weight: 200;
    fzd(28);
    margin-bottom: 1vw;
  }

  .content-wrap {
    width: 100%;
  }

  .buttons-wrap {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto;
    font-weight: 400;
    fzd(18);
    margin-bottom: 0.5vw;

    button {
      width: 14vw;
      height: 2.7vw;
      // text-transform: uppercase;
      fzd(16);
      font-weight: 700;
      border-radius: 1.35vw;
      color: white;
      background: #88CA60;
    }
  }
}
