<div mat-dialog-title class="header">Функционал в разработке</div>
<div mat-dialog-content class="content-wrap">
  <div class="content-wrap-inside">
    К сожалению, сейчас нельзя пройти несколько курсов сразу. Совсем скоро мы откроем вам такую
    возможность. А пока вы можете смотреть материалы своего курса.
  </div>
</div>
<div mat-dialog-actions class="buttons-wrap">
  <button mat-flat-button color="accent" class="main-button" (click)="continue()">
    Продолжить обучение
  </button>
</div>
