@import ('../../../libs/css/params.styl');

:host {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .teachers-host {
    width: 90%;

    .teachers-header {
      margin-top: 3vw;
      padding-bottom: 1vw;
      text-transform: uppercase;
      fzd(50);
      lhd(56);
      letter-spacing: -0.05vw;
      font-weight: 900;
      color: #415061;
      width: 100%;
      border-bottom: 2px solid #212121;
    }

    .teachers-wrap {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
