@import ('../../libs/css/params.styl');

.parent {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;

  app-courses {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateX(-65vw) translateZ(0px) perspective(1px);
    transition: transform 0.45s ease-in-out;
    z-index: 2;
  }

  // >>>app-articles-wrap, >>>app-article {
  >>>app-article {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0) translateZ(0px) perspective(1px);
    transition: transform 0.45s ease-in-out;
  }

  >>>app-article {
    overflow-y: scroll;
  }

  >>>app-articles {
    display: block;
    width: 100vw;
    height: 100vh;
    // position: absolute;
    // top: 8vw;
    overflow-y: scroll;
    // padding-top: 8vw;
    left: 0;
    transform: translateX(0) translateZ(0px) perspective(1px);
    transition: transform 0.45s ease-in-out;
  }

  >>>.article-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  >>>.articles-parent, >>>.article-parent {
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 3.75vw;
    transition: width 0.45s ease-in-out;
    background-color: $lightest-gray;

    &.initial {
      width: 65vw;
      opacity: 1;
    }

    &.articles {
      width: calc(100vw - 4.15vw);
      opacity: 1;
      transition: width 0.45s ease-in-out, opacity 0.2s ease-out 0.45s;
    }

    &.courses {
      width: calc(100vw - 4.15vw);
      opacity: 0;
      transition: width 0.45s ease-in-out, opacity 0.1s ease-in;
    }
  }

  &.courses {
    app-courses {
      transform: translateX(-4.15vw) translateZ(0px) perspective(1px);
    }

    app-articles {
      //
    }
  }

  &.articles {
    app-courses {
      transform: translateX(calc(-100% + 4.15vw)) translateZ(0px) perspective(1px);
    }

    app-articles {
      transform: translateX(0) translateZ(0px) perspective(1px);
    }
  }
}
