@import '../../libs/css/params.styl';

:host {
  // .articles-parent {
  // min-height: 100vh;
  // background-color: $lightest-gray;
  // position: absolute;
  // right: 0;
  // padding-top: 12.4vw;
  // transition: width 0.45s ease-in-out;
}
