
:host {
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
  right: 0;

  &.initial {
    width: calc(100vw - 4.15vw);
    // width: 35vw;
    position: absolute;
  }

  &.courses {
    width: calc(100vw - 4.15vw);
  }

  .background, .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .background {
    background-image: url('../../../assets/courses/main-bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &.narrow {
      background-size: auto 100%;
    }

    &.wide {
      background-size: 100vw auto;
    }
  }

  .overlay {
    &.gray {
      background-color: #445567;
      opacity: 0.92;
    }

    &.black {
      background-color: #202020;
      opacity: 0.4;
    }

    &.white {
      background-color: #fff;
    }
  }

  .content {
    z-index: 1;
    width: 100%;
    height: 100vh;
  }

  @media screen and (max-width: 768px) {

    height: inherit;
    position: relative;

    &.initial {
      width: 100vw;

      position: relative;
      height: auto;
    }

    .content {
      height: auto;

      position: relative;
    }

    &.courses {
      width: 100%;
    }

    .background {
      display: none;
    }

    .overlay {
      &.gray {
        background-color: #445567;
      }

      &.black {
        display: none;
      }

    }

  }

}
