@import ('../../../../../libs/css/params.styl');

:host {
  width: 100%;
  display: block;

  .new-comment {
    margin: 3vw 0;
    width: 100%;

    .comment {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      &.unloggined {
        background-color: #F0F1F3;

        .comment-login {
          width: calc(100% - 7.5%);
          color: #415061;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 15vw;
          background-color: #F0F1F3;
          box-sizing: border-box;
          position: relative;

          .login-about {
            color: #415061;
            opacity: 0.4;
            fzd(24);
            lhd(34);
            text-align: center;
            width: 60%;
            margin-bottom: 2vw;
          }

          button {
            width: 20%;
            height: 2.7vw;
            color: white;
            fzd(13);
            text-transform: uppercase;
          }
        }
      }

      .comment-author {
        display: flex;
        align-items: flex-start;
        width: 7.5%;

        .portrait {
          width: 2.4vw;
          height: 2.4vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba($yellow, 0.3);
          border-radius: 50%;

          .inner-img {
            width: 2.1vw;
            height: 2.1vw;
            border-radius: 50%;
            overflow: hidden;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .comment-body {
        width: calc(100% - 7.5%);
        color: #415061;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 15vw;
        background-color: #F0F1F3;
        box-sizing: border-box;
        padding: 2.5% 5%;
        position: relative;

        .mat-form-field {
          width: 100%;

          >>>.mat-form-field-underline {
            display: none;
          }

          textarea {
            background-color: #fff;
            resize: none;
          }
        }

        button {
          width: 12.5vw;
          height: 2.7vw;
          color: white;
          fzd(13);
          text-transform: uppercase;
        }
      }
    }
  }

  .fix-bgc {
    background: #fcc624;
    line-height: 2.7vw;
  }

  .fix-height {
    height: auto !important;
  }

  @media screen and (max-width: 768px) {

    mat-form-field {
      margin-top: -0.5em;
      height: 40px;
      overflow: hidden;

      &.mat-focused {
        height: auto;
      }

      textarea {
        background-color: transparent !important;
      }

    }

    .new-comment {

      .comment {
        margin: 24px 0;
        background: #f8f8f8;
        width: calc(100% - 40px);
        margin-left: 20px;

        &.unloggined {
          width: 100%;
          margin: 24px 0;
          margin-left: 0;

          .comment-login {
            width: 100%;
            height: auto;

            .login-about {
              margin-top: 51px;
              margin-bottom: 35px;
              font-size: 16px;
              line-height: 1.38;
              width: calc(100% - 40px);
              margin-left: 20px;
            }

            button {
              width: 200px;
              height: 52px;
              font-size: 16px;
              line-height: 52px;
              margin-bottom: 43px;
            }

          }

        }

        .comment-author {
          width: auto;
          margin-right: 16px;

          .portrait {
            width: 43px;
            height: 43px;
            border: none;

            .inner-img {
              height: 100%;
              width: 100%;
            }

          }

        }

        .comment-body {
          background: none;
          width: 100%;
          height: auto;
          padding: 0;
          align-items: center;

          .main-button {
            font-size: 13px;
            line-height: normal;
            margin-top: 15px;
            width: 221px;
            border-radius: 26px;
            height: 52px;
            margin-left: -50px;
          }

        }

      }

    }

  }

}
