@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$base-primary: mat-palette($mat-light-green, 400);
$base-accent: mat-palette($mat-amber);
$base-warn: mat-palette($mat-red);
$base-theme: mat-light-theme($base-primary, $base-accent, $base-warn);

@include angular-material-theme($base-theme);

// Define an alternate dark theme.
$logined-primary: mat-palette($mat-blue-grey);
$logined-accent: mat-palette($mat-blue-grey);
$logined-warn: mat-palette($mat-deep-orange);
$logined-theme: mat-light-theme($logined-primary, $logined-accent, $logined-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.logined-theme {
  @include angular-material-theme($logined-theme);
}

//video-dialog styles

.video-dialog {

  .mat-dialog-container {
    background-color: transparent;
    padding: 0;
    overflow: visible;
  }

  @media screen and (max-width: 768px) {
    max-width: 100vw !important;
  }

}

.class-super {
  background: #000;
}

//share-menu styles

.share-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .share-title {
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: center;
    color: #afafaf;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  button {
    background: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;

    img {
      height: 2.7vw;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  @media screen and (max-width: 768px) {
    margin-bottom: 41px;

    .share-title {
      display: block;
    }

    button {
      img {
        height: auto;
      }
    }

  }

}

// mat-dialog(pop-up)
@media screen and (max-width: 768px) {

  .cdk-overlay-container {

    mat-dialog-container {
      padding: 0;
      border-radius: 0;
    }

  }

}
