<div class="footer-parent">
  <div class="footer-inner">
    <div class="footer-header">
      <div class="rights">
        © 2019. Все права защищены
      </div>
      <div class="logos">
        <a href="https://www.business-class.pro" target="_blank">
          <img src="../../../assets/courses/logo/google_с.svg" alt="" />
        </a>
        <a href="https://www.sberbank.ru/" target="_blank">
          <img src="../../../assets/courses/logo/sberbank_с.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="footer-content">
      <div class="adress-main">
        ПАО Сбербанк. Россия, Москва, 117997, ул. Вавилова, д. 19. <br />
        Генеральная лицензия на осуществление банковских операций от 11 августа 2015 года. <br />
        Регистрационный номер — 1481 <br />
        Техническая поддержка сайта —
        <a href="mailto:info@business-class.pro">info@business-class.pro</a> <br />
      </div>
      <div class="adress-bot">
        <div class="feedback" (click)="openDialog()">
          Обратная связь
        </div>
        <a href="../../../assets/business-class_rules.pdf" target="_blank">
          <div class="rules">&nbsp;Правила участия</div>
        </a>
      </div>
      <div class="logos-mobile">
        <a href="https://www.business-class.pro" target="_blank">
          <img src="../../../assets/courses/logo/google_с.svg" alt="" />
        </a>
        <a href="https://www.sberbank.ru/" target="_blank">
          <img src="../../../assets/courses/logo/sberbank_с.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
