@import ('../../../libs/css/params.styl');

:host {
  background-color: #F8F8F8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #415061;
  border-top: 1px solid $light-gray;
  padding-bottom: 1vw;
  font-weight: 400;

  .footer-parent {
    width: 90%;

    .footer-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-header {
        margin: 1vw 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        fzd(14);
        lhd(20);

        .logos {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 20%;

          a {
            width: 45%;
            height: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .footer-content {
        fzd(14);
        lhd(20);
        color: #C6CACF;
        width: 100%;

        .adress-bot {
          display: flex;
          flex-direction: row;
          margin: 1vw 0;
          cursor: pointer;

          a {
            text-decoration: none;
            color: #C6CACF;
          }

          >div {
            transition: color 0.3s ease-in-out;

            &:hover {
              color: black;
            }
          }
        }

        .logos-mobile {
          display: none;
        }

      }
    }
  }

  @media screen and (max-width: 768px) {

    .footer-parent {
      width: calc(100vw - 40px);

      .footer-inner {

        .footer-header {
          font-size: 14px;
          line-height: 1.43;
          margin: 28px 0px 15px 0px;

          .logos {
            display: none;
          }

        }

        .footer-content {
          font-size: 12px;
          line-height: 1.33;

          .adress-bot {
            margin: 0;
            margin-top: 10px;
            margin-bottom: 15px;
            color: #a0cee9;

            .feedback, .rules {
              color: #a0cee9;
              margin-right: 15px;
            }

          }

          .logos-mobile {
            display: block;
            margin-bottom: 60px;
            img {
              height: 29px;
              margin-right: 15px;
            }

          }

        }

      }

    }

  }

}
